<li class="<%= 'main' if image.article_main %>"><%= image_tag image.image_url(:small)%>
  <%= simple_form_for([:admin, image.article, image]) do |f| %>
    <%= f.input :description %>
    <%= f.input :article_main %>
    <%= f.button :submit, t(:'common.update') %>
    <button type="button" class="btn btn-danger"><%= t(:'common.delete') %></button>
  <% end %>
</li>