<article id="article_<%=article.id%>">
  <div id="article-content">
    <div class="title">
      <h4><%= article.title %></h4>
    </div>
  </div>
  <%= link_to t(:'common.edit'), edit_admin_article_path(article) %> |
  <%= link_to t(:'common.delete'), admin_article_path(article), confirm: t(:'.confirm_delete'), remote: true, method: :delete %>
  <%= button_to(article.published? ? t(:'.unpublish') : t(:'.publish'), published_admin_article_path(article), remote: true, method: :post) %>
</article>