<article>
  <div id="article-content">
    <div class="title">
      <h2><%= article.title %></h2>
      <p>By <%= article.user.email %> on <%= article.created_at.strftime("%B %d %Y") %></p>
    </div>
    <div class="body">
      <%= simple_format article.body %>
    </div>
  </div>
  <%= link_to 'Show', admin_article_path(article) %> |
  <%= link_to 'Edit', edit_admin_article_path(article) %> |
  <%= link_to 'Destroy', admin_article_path(article), confirm: 'Are you sure?', method: :delete %>
  <%= button_to(article.published? ? "Unpublish" : "Publish", published_admin_article_path(article),
          method:  :post) %>
  <% if with_comments %>
    <h3>Comments</h3>
    <% unless  article.comments.empty? %>
      <ul id="comments" class="unstyled">
        <% article.comments.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment }%>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</article>