<% @article.persisted? ? remote = {remote: false} : remote = {remote: true} %>
<%= simple_form_for([:admin, @article], remote ) do |f| %>
  <%= f.input :title %>
  <%= f.input :body, as: 'text' %>
  <%= f.input :tag_names %>
  <%= f.input :published %>
  <%= f.button :submit %>
<% end %>
<% if @article.persisted? %>
  <h2><%= t(:'.images') %></h2>
  <ul id="article-images" class="article-images horizontal-list">
    <% @article.images.each do |image| %>
      <%= render partial: "admin/article_images/article_image", locals: {image: image} %>
    <% end %>
  </ul>
  <%= simple_form_for([:admin, @article, @article.images.build]) do |f| %>
    <%= f.input :image, as: :file, input_html: {multiple: true, name: "article_image[image]"} %>
  <% end %>
<% end %>

