<h1><%= t(:'.title') %></h1>
<p><%= link_to(t(:'.add_article'), new_admin_article_path, id: "create-article", class: "btn", remote: true) if can? :create, Article %></p>
<hr>
<ul id="articles" class="unstyled">
  <% @articles.each do |article| %>
    <% if @articles.empty? %>
      <li><%= t(:'shared.no_recent_posts') %></li>
    <% end %>
    <li>
      <%= render partial: "article", locals: { article: article, with_comments: false } %>
    </li>
  <% end %>
</ul>
<hr>
<p><a href="<%= admin_tags_path %>"><%= t(:'.manage_tags') %></a></p>
