<h1><%= t(:'.title') %></h1>
<%= link_to(t(:'.add_article'), new_admin_article_path, id: "create-article", class: "btn", remote: true) if can? :create, Article %>

<% unless @articles.empty? %>
  <ul id="articles" class="unstyled">
    <% @articles.each do |article| %>
      <li>
        <%= render partial: "article", locals: { article: article, with_comments: false } %>
      </li>
    <% end %>
  </ul>
<% end %>
<a href="<%= admin_tags_path %>"><%= t(:'.manage_tags') %></a>
