<article>
  <div id="article-content">
    <div class="title">
      <h2><%= article.title %></h2>
      <p>By <%= article.user.email %> on <%= article.created_at.strftime("%B %d %Y") %></p>
    </div>
    <div class="body">
      <p>Tags:
        <% article.tags.each do |tag|%>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </p>
      <%= simple_format article.body %>
    </div>
  </div>
  <% unless with_comments %>
    <%= link_to 'Show', article_path(article) %>
  <% end %>
  <% if can? :update, article  %>
   | <%= link_to 'Edit', edit_article_path(article) %>
  <% end %>
  <% if can? :delete, article  %>
   | <%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %>
  <% end %>

  <% if with_comments %>
    <h3>Comments</h3>
    <% unless  article.comments.empty? %>
      <ul id="comments" class="unstyled">
        <% article.comments.each do |comment| %>
          <%= render partial: "comments/comment", locals: { comment: comment }%>
        <% end %>
      </ul>
    <% end %>
    <%= simple_form_for([article, article.comments.build]) do |f| %>
      <%= f.input :name %>
      <%= f.input :email%>
      <%= f.input :body, as: 'text'%>
      <%= f.button :submit %>
    <% end %>
  <% end %>
</article>