<article>
  <div class="row">
    <% main_image = article.images.main.first %>
    <% if main_image.present? %>
    <div class="span3">
      <%= image_tag main_image.image_url(:thumb) %>
    </div>
    <div class="span6">
    <% else %>
    <div class="span8">
    <% end %>
      <section>
        <header>
          <h2><%= article.title %></h2>
          <p>
            <%= t(:'.tags') %>
            <% article.tags.each do |tag|%>
              <%= link_to tag.name, tag_path(tag) %><%= ',' unless tag == article.tags.last %>
            <% end %>
          </p>
        </header>
        <div class="content">
          <%= output_content_for(article) %>
        </div>
        <footer>
          <%= link_to t(:'.full_article'), article_path(article), class: "btn btn-primary" %>
        </footer>
      </section>
    </div>
  </div>
</article>
