  <%= link_to t(:'common.all_articles'), articles_path, id: "main-back" unless params[:search].blank? %>
  <% if articles.empty? %>
    <div class="fallback"><%= t(:'.no_articles_found', query: params[:search]) %></div>
  <% end %>

  <ul id="articles" class="unstyled">
    <% articles.each do |article| %>
      <% if articles.empty? %>
        <li><%= t(:'shared.no_recent_posts') %></li>
      <% end %>
      <li>
        <%= render partial: "articles/article", locals: { article: article, detailed: false } %>
      </li>
      <hr>
    <% end %>
  </ul>
  <%= will_paginate articles %>