<article <% if detailed %>class="detailed"<% end%>>
  <div class="row">
    <% main_image = article.images.main.first %>
    <% unless main_image.blank? %>
      <div class="<%= detailed ? 'span9 large-image' : 'span3' %>">
        <%= image_tag detailed ? main_image.image_url(:large).to_s : main_image.image_url(:thumb).to_s %>
      </div>
    <% end %>
    <% if main_image.blank? %>
      <div class="span9">
    <% else %>
      <div class="<%= detailed ? 'span9' : 'span6' %>">
    <% end %>
      <section>
        <header>
          <h2><%= article.title %></h2>
          <p>
            <%= t(:'.tags') %>
            <% article.tags.each do |tag|%>
              <%= link_to tag.name, tag_path(tag) %>
            <% end %>
          </p>
        </header>
        <div class="body">
          <p>
            <%= detailed ? (simple_format article.body) : (truncate(article.body, length: 200 )) %>
            <% unless detailed %>
              <%= link_to t(:'common.more'), article_path(article) %>
            <% end %>
          </p>
        </section>
        <% if detailed %>
          <div class="images">
            <% article.images.inline.each do |image| %>
              <figure>
                <%= image_tag image.image_url(:inline), class: "img-polaroid" %>
                  <% if image.description.present? %>
                    <figcaption>
                      <%= image.description %>
                    </figcaption>
                  <% end %>
              </figure>
            <% end %>
          </div>
        <% end %>
        <footer>
          <p><%= t(:'articles.article.by') %> <%= article.user.name %>(<%= mail_to article.user.email %>)
            <%= t(:'articles.article.on_date') %> <time><%= l article.published_on, format: :blog_short_day_month_year %></time>
          </p>
        </footer>
      </section>
    </div>
  </div>
</article>
<% if detailed %>
  <hr>
  <section id="comment-area">
    <h3><%= t(:'articles.article.comments') %></h3>
    <% unless  article.comments.empty? %>
      <ul id="comments" class="unstyled">
        <% article.comments.each do |comment| %>
          <%= render partial: "articles/comment", locals: { comment: comment }%>
        <% end %>
      </ul>
    <% end %>
    <a href="" class="comment-on-article"><%= t(:'.comment') %></a>
    <%= simple_form_for([article, article.comments.build]) do |f| %>
      <%= f.input :name %>
      <%= f.input :email%>
      <%= f.input :body, as: 'text'%>
      <%= f.button :submit %>
    <% end %>
  </section>
<% end %>