<article>
  <div class="row">
    <% main_image = article.images.main.first %>
    <% unless main_image.blank? %>
      <div class="<%= detailed ? 'span9' : 'span3' %>">
        <%= image_tag detailed ? main_image.image_url(:large).to_s : main_image.image_url(:thumb).to_s %>
      </div>
    <% end %>
    <% if main_image.blank? %>
      <div class="span10">
    <% else %>
      <div class="<%= detailed ? 'span9' : 'span6' %>">
    <% end %>
      <section>
        <header>
          <h2><%= article.title %></h2>
          <p>
            <%= t(:'.tags') %>
            <% article.tags.each do |tag|%>
              <%= link_to tag.name, tag_path(tag) %>
            <% end %>
          </p>
        </header>
        <div class="body">
          <p>
            <%= detailed ? article.body : truncate(article.body, length: 200 ) %>
            <% unless detailed %>
              <%= link_to t(:'common.more'), article_path(article) %>
            <% end %>
          </p>
        </div>
        <footer>
          <p><%= t(:'.by') %> <%= article.user.email %> on <%= article.created_at.strftime("%B %d %Y") %></p>
        </footer>
      </section>
    </div>
  </div>
  <% if detailed %>
    <h3><%= t(:'articles.article.comments') %></h3>
    <% unless  article.comments.empty? %>
      <ul id="comments" class="unstyled">
        <% article.comments.each do |comment| %>
          <%= render partial: "articles/comment", locals: { comment: comment }%>
        <% end %>
      </ul>
    <% end %>
    <%= simple_form_for([article, article.comments.build]) do |f| %>
      <%= f.input :name %>
      <%= f.input :email%>
      <%= f.input :body, as: 'text'%>
      <%= f.button :submit %>
    <% end %>
  <% end %>
</article>