<% present article do |article_presenter| %>
  <% cache article do %>
    <article class="detailed">
      <div class="row">
        <% if article_presenter.image.present? %>
        <div class="span8 large-image">
          <%= article_presenter.image %>
        </div>
        <div class="span8">
        <% else %>
        <div class="span8">
        <% end %>
          <section>
            <header>
              <h2><%= article_presenter.title %></h2>
              <p>
                <%= t(:'.tags') %>
                <% article_presenter.tags %>
              </p>
            </header>
            <div class="row">
              <div class="span7">
                <div>
                  <%= output_detailed_content_for(article) %>
                </div>
              </div>
            </div>
            <% if article.images.inline.present? %>
              <hr>
              <div class="row">
                <div class="images span6">
                  <h3><%= t(:'.gallery') %></h3>
                  <%= article_presenter.inline_images %>
                </div>
              </div>
            <% end %>
            <footer>
              <p><%= t(:'articles.article.by') %> <%= link_to article.user.name, user_path(article.user) %>
                <%= t(:'articles.article.on_date') %> <time><%= article_presenter.published_on %></time>
              </p>
            </footer>
          </section>
          <hr>
          <section id="comment-section">
            <h3><%= t(:'articles.article.comments') %></h3>
            <% unless  article.comments.empty? %>
              <ul id="comments" class="unstyled">
                <% article.comments.each do |comment| %>
                  <%= render partial: "articles/comment", locals: { comment: comment }%>
                <% end %>
              </ul>
            <% end %>
            <a href="" class="btn comment-on-article"><%= t(:'.comment') %></a>
            <%= simple_form_for([article, article.comments.build]) do |f| %>
              <%= f.input :name %>
              <%= f.input :email%>
              <%= f.input :body, as: 'text'%>
              <%= f.button :submit %>
            <% end %>
          </section>
          <hr>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
