<div class="row">
  <div class="span9">
    <section id="profile-top">
      <%= image_tag @user.avatar_url(:thumb), class: "img-polaroid" %>
      <div class="content">
        <h1><%= @user.name %>
          <!-- Button to trigger modal -->
          <% if can? :update, @user %>
            <a href="#edit-user-modal" role="button" class="btn" data-toggle="modal"><%= t(:'common.edit') %></a>
          <% end %>
        </h1>
        <div>
          <span class="important"><%= t(:'.email') %></span>
          <span><%= mail_to @user.email, @user.email %></span>
        </div>
        <span class="important"><%= t(:'.about') %></span>
        <%= simple_format @profile.about %>
        <span class="important"><%= t(:'.find_me_here') %></span>
        <ul class="unstyled horizontal-list">
          <%= format_links(@user_links) unless @user_links.blank? %>
        </ul>
      </div>
    </section>
  </div>
</div>
<hr>
<div class="row">
  <div class="span7">
    <h2><%= t(:'shared.recent_posts') %></h2>
    <ul class="recent-posts unstyled profile">
      <% if @recent_posts.empty? %>
        <li class="fallback"><%= t(:'shared.no_recent_posts') %></li>
      <% end %>
      <% @recent_posts.each do |article| %>
        <li>
          <%= image_tag article.images.main.first.image_url(:thumb) unless article.images.main.first.blank? %>
          <section class="<%= 'with-image' unless article.images.main.first.blank? %>">
            <h3>
              <%= link_to article.title, article_path(article) %>
            </h3>
            <div>
              <%= output_content_for(article) %>
            </div>
            <% unless article.tags.empty? %>
              <span class="important"><%= t(:'articles.article.tags') %></span>
              <ul class="tags unstyled horizontal-list">
                <% article.tags.each do |tag| %>
                 <li><%= link_to tag.name, tag_path(tag) %></li>
                <% end %>
              </ul>
            <% end %>
          </section>
        </li>
        <hr>
      <% end %>
    </ul>
  </div>
</div>

<!-- Modal -->
<div id="edit-user-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%= t(:'.edit_profile') %></h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name%>
      <%= f.input :avatar, as: 'file' %>
      <%= f.simple_fields_for :profile do |f| %>
        <%= f.input :links %>
        <%= f.input :about %>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:'common.close') %></button>
    <button class="btn btn-primary"><%= t(:'common.update') %></button>
  </div>
</div>