<% user = User.first %>
<section class="segment profile">
  <div>
    <%= image_tag user.avatar_url(:small).to_s %>
    <p><%= user.first_name %> <%= user.last_name %></p>
  </div>
  <p><%= t(:'.welcome') %></p>
  <%= link_to t(:'.profile_link'),  user_path(user) %>
</section>