<div id="sign-up-modal" class="login-modal modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="login-modal-label"><%= t(:'shared.sign_up_modal_header') %></h3>
  </div>
  <div class="modal-body">
    <%= render partial: "devise/registrations/form", locals: {resource: User.new, modal: true} %>
  </div>
  <div class="modal-footer">
    <%= link_to "", user_omniauth_authorize_path(:twitter),
        class: "sign-in-icon sprites-twitter",
        title: t(:'layouts.navigation.sign_in_twitter') %>
        <%= link_to "", user_omniauth_authorize_path(:facebook),
        class: "sign-in-icon sprites-facebook",
        title: t(:'layouts.navigation.sign_in_facebook') %>

    <button class="btn btn-primary" type="submit"><%= t(:'layouts.navigation.sign_up') %></button>
  </div>
</div>