<span class="brand" href="">lodfelt.se</span>

<%= form_tag articles_path, method: 'get', class: "form-search" do %>
  <%= text_field_tag :search, params[:search], class: "seach-query" %>
  <button type="submit" class="btn"><%= t(:'common.search') %></button>
<% end %>
<ul class="nav">
  <% if user_signed_in?%>
    <li><%= link_to t(:'.log_out'), destroy_user_session_path %></li>
  <% else %>
    <li><%= link_to t(:'.log_in'), user_session_path %></li>
    <li class="divider">|</li>
    <li><%= link_to t(:'.sign_up'), new_user_registration_path %></li>
    <li class="divider">|</li>
    <li><%= link_to "", user_omniauth_authorize_path(:twitter), class: "sign-in-icon twitter", title: t(:'.sign_in_twitter') %></li>
    <li class="divider">|</li>
    <li><%= link_to "", user_omniauth_authorize_path(:facebook), class: "sign-in-icon facebook", title: t(:'.sign_in_facebook') %></li>
  <% end %>
</ul>





