<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t(:'.title') %></title>
    <%= stylesheet_link_tag    "admin", :media => "all" %>
    <%= javascript_include_tag "admin" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation_admin' %>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
            <ul id="admin-tabs" class="nav nav-tabs">
              <li class="active"><a href="#articles-tab" data-toggle="tab"><%= t(:'.articles') %></a></li>
              <li><a href="#drafts-tab" data-toggle="tab"><%= t(:'.drafts') %></a></li>
              <li><a href="#tags-tab" data-toggle="tab"><%= t(:'.tags') %></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="articles-tab">
                <%= render partial: "admin/articles/tabs/article_tab", locals: {articles: Article.published} %>
              </div>
              <div class="tab-pane" id="drafts-tab">
                <%= render partial: "admin/articles/tabs/drafts_tab", locals: {drafts: Article.drafts} %>
              </div>
              <div class="tab-pane" id="tags-tab">
                <%= render partial: "admin/articles/tabs/tags_tab", locals: {tags: Tag.all} %>
              </div>
            </div>
            <%= yield %>
          </div>
        </div>
        <footer>
        </footer>
      </div>
    </div>
  </body>
</html>