<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t(:'.title') %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "ie8", :media => "all" %>
    <%= javascript_include_tag "ie8" %>
    <%= javascript_include_tag "third-party/selectivizr" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
            <div class="row">
              <div class="span12">
                <%= ariane.render %>
              </div>
            </div>
            <div class="row">
              <div class="span9">
                <%= yield %>
              </div>
              <aside class="span3">
                <%= render partial: 'shared/profile' unless current_user.blank? %>
                <%= render partial: 'shared/recent_posts' unless Article.all.empty? %>
                <%= render partial: 'shared/tags', locals: {show_delete: false} unless Tag.all.empty? %>
                <hr id="tag-hr">
              </aside>
            </div>
          </div>
        </div>
        <footer>
          <%= mail_to "kim@lodfelt.se", t(:'.contact_site') %> | Copyright © lodfelt.se
        </footer>
        <%= render partial: "shared/login_modal" %>
      </div>
    </div>
  </body>
</html>